<launch>

<!-- define nice value of process (lower means higher priority) [-20;19] -->
<!-- more infos: https://en.wikipedia.org/wiki/Nice_(Unix) -->
<arg name="nice" default="nice -n -5"/>

<!-- forward output to [screen|log] -->
<arg name="output" default="screen"/>


<node name="mavlink" pkg="drive_ros_mavlink_cc2016" type="mavlink_phoenix_node" output="$(arg output)" launch-prefix="$(arg nice)">
    <!-- constant communication time offset which is subtracted from overall time offset [microsec]-->
    <!-- TODO: calculate this value somehow -->
    <param name="comm_offset" type="int" value="0" />

    <!-- reset time offset between mavlink and ros after reaching this difference [microsec] -->
    <param name="reset_offset" type="int" value="10000" />

    <!-- ignore time steps smaller than this and use the same time instead (easier to fuse messages later on) [microsec] -->
    <param name="ignore_times" type="int" value="500" />

    <!-- enable / disable time debug output -->
    <param name="enable_time_debug" type="bool" value="false" />

    <!-- enable / disable imu debugging to file -->
    <param name="enable_imu_debug" type="bool" value="false" />

</node>

</launch>

